  <header style="background-image: url('{{ page.couverture }}');">
    <div class="container">
        <div class="intro-text">
            <a href="#blog" class="page-scroll">
                <div class="intro-lead-in">{{page.accroche}}</div>
                <div class="intro-heading">{{page.accroche2}}</div>
            </a>
            <ul class="list-inline social-buttons">
                <li><a href="{{site.facebook_url}}" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="{{site.twitter_url}}" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="{{site.pinterest_url}}" target="_blank"><i class="fa fa-pinterest-square"></i></a></li>
                <li><a href="{{site.instagram_url}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</header>