<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" > 
                    
                    <span class="sr-only">afficher le menu</span> <i class="fa fa-bars">&nbsp;</i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">O'seeds</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="" href="https://o-seeds.fr/#bourse">Place de marché</a>
                    </li>
                    <li>
                        <a class="" href="https://o-seeds.fr/#jardin">Ton jardin</a>
                    </li>
                    <li>
                        <a class="" href="https://o-seeds.fr/#conseil">Conseils</a>
                    </li>
                    <li>
                        <a class="" href="https://o-seeds.fr/#service">Services</a>
                    </li>
                    <li>
                        <a class="" href="https://o-seeds.fr/#valeur">Valeurs</a>
                    </li>
                    <li>
                        <a class="" href="https://o-seeds.fr/#fondateur">Fondateurs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ base_url  | prepend: site.url}}/#blog">Blog</a>
                    </li> 
                    <li>
                        <a class="contactmodalopen" href="#" ><i class="fa fa-envelope"></i><span class="sr-only">Contact</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>