<!doctype html>
<html amp lang="fr">
  <head>
      
      
      
      
      
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,300,700' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Kaushan+Script:400,300,700' rel='stylesheet' type='text/css'>
      
      
    <meta charset="utf-8">
      
    <script async src="https://cdn.ampproject.org/v0.js"></script>
      
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
      
      
      
      
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
      
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="canonical" href="{{ page.canonical_url | prepend: site.baseurl | prepend: site.url }}" />
      
    <meta name="description" content="{{ page.body | split:'<!--more-->' | first | strip_html | strip_newlines | truncate: 160 | replace : '"' , '' }}">
      
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">


    <style amp-custom>
      
        {% include amp.min.css %}
        
    </style>
      
    <script type="application/ld+json">
        {% include metadata.json %}
    </script>
      
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  </head>

<body>
    
    <div class="logo">
        <a href="{{ site.url }}{{base_url}}">
            <amp-img src="{{ site.url }}{{base_url}}/libs/img/menu_w_1x_web_24dp.png" width="24" height="24" class="rightMenu"></amp-img>
            <amp-img src="{{ site.url }}{{base_url}}/libs/img/brandOseeds.png" width="83" height="35"  ></amp-img>
        
        </a>
    </div>
    
    <div class="heading">
        
        
        {% if page.style == 'gallery' %}
        
         <amp-carousel width=600 height=400 layout="responsive" controls  type="slides">
             {% assign images = page.body | markdownify | split:"<img " %}
             {% for image in images %}
                {% if image contains 'src' %}

                        {% assign html = image | split:"/>" | first %}
            
                        <amp-img layout="responsive" width="600" height="400" {{ html }}  ></amp-img>
            
                       


                {% endif %}
             {% endfor %}
        </amp-carousel>
        
        
        {% else %}
       
        <figure><amp-img layout="responsive" width="600" height="400" src="{{page.couverture}}"></amp-img></figure>
      
        {% endif %}
        
        
        <h1 class="post-title">
        {{ page.title | escape }}
        </h1>
        {% if page.style == 'article' %}
        <p id="summary">{{ page.body | split:'<!--more-->' | first }}</p>
        {% endif %}
        <p>
        
         {% assign author = site.data.authors[page.author] %} 
           {% if author %}
            <small>par {{ author.name }}</small>
            {% endif %}
        
        </p>
   
    </div>
    
    
    <div class="social">
      <amp-social-share type="twitter" width="45" height="33"></amp-social-share>
      <amp-social-share type="facebook" width="45" height="33" data-attribution=105078386623631></amp-social-share>
      <amp-social-share type="email" width="45" height="33"></amp-social-share>
      <amp-social-share type="pinterest" width="45" height="33"></amp-social-share>
    </div>

    <div class="body"> 

         {% if page.style == 'article' or page.style == 'question' %}
    {{ page.body | split:'<!--more-->' | last | markdownify | replace : '<p><img src=' , '<figure><amp-img layout="responsive" width="600" height="400" src=' | replace : '/></p>' , '></amp-img></figure>' }}
       
    
        {% endif %}
    
    </div>   

{% assign hasSimilar = '' %}
                {% for post in site.related_posts %}
                    {% assign postHasSimilar = false %}
                    {% for tag in post.tags %}
                        {% for thisTag in page.tags %}
                            {% if postHasSimilar == false and hasSimilar.size < 3 and post != page and tag == thisTag %}
                                {% if hasSimilar.size == 0 %}
                                <h4>Articles similaires</h4>
                                <amp-list width=300 height=75 layout=responsive>
                                    
                                {% endif %}           
                                    <template type="amp-mustache">
                                        <a class="card related" href={{ site.url }}{{base_url}}{{ post.url }}><amp-img width="101" height="75" src="{{ site.url }}{{base_url}}{{ post.couverture }}"></amp-img><span>{{ post.title | escape }}</span></a>
                                    </template>
                                                              
                                                                                 
                                                                                 
                                   {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                                {% assign postHasSimilar = true %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                {% if hasSimilar.size > 0 %}
                    </amp-list>
                {% endif %}






     <amp-analytics type="googleanalytics">
      <script type="application/json">
        {
          "vars": {
            "account": "UA-75363369-2"
          },
          "triggers": {
            "default pageview": {
              "on": "visible",
              "request": "pageview",
              "vars": {
                "title": "{{ page.title |escape }}"
              }
            }
          }
        }
      </script>
    </amp-analytics>

     
</body>
</html>